# Backend
backend/**/bin/
backend/**/obj/

# Frontend
frontend/mail-marketing-ui/node_modules/
frontend/mail-marketing-ui/dist/
frontend/mail-marketing-ui/.angular/
frontend/mail-marketing-ui/devserver.log
frontend/mail-marketing-ui/tests/selenium/java/target/

# Sonar
.sonarqube/
backend/.sonarqube/

# IDE
.vscode/
.idea/

# Env
.env

# OS
.DS_Store
Thumbs.db

